<div class="container">
    <div class="row">
        <div class="col-md-4">Column1</div>
        <div class="col-md-4">Column2</div>
        <div class="col-md-4">Column3</div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">Responsive</div>
        <div class="col-12 col-md-6 col-lg-4">Columns</div>
        <div class="col-12 col-md-12 col-lg-4">Example</div>
    </div>

    <!-- Display Flex -->
    <div class="d-flex">Flexbox container</div>
    <div class="d-inline-flex">Inline flexbox</div>

    <!-- Direction -->
    <div class="d-flex flex-row">Horizontal (default)</div>
    <div class="d-flex flex-column">Vertical</div>
    <div class="d-flex flex-row-reverse">Horizontal reversed</div>
    <div class="d-flex flex-column-reverse">Vertical reversed</div>

    <!-- Justify Content -->
    <div class="d-flex justify-content-start">Left</div>
    <div class="d-flex justify-content-center">Center</div>
    <div class="d-flex justify-content-end">Right</div>
    <div class="d-flex justify-content-between">Space between</div>
    <div class="d-flex justify-content-around">Space around</div>
    <div class="d-flex justify-content-evenly">Space evenly</div>

    <!-- Headings -->
    <h1>h1. Bootstrap heading</h1>
    <h2>h2. Bootstrap heading</h2>
    <h3>h3. Bootstrap heading</h3>
    <h4>h4. Bootstrap heading</h4>
    <h5>h5. Bootstrap heading</h5>
    <h6>h6. Bootstrap heading</h6>

    <!-- Heading Classes -->
    <p class="h1">h1 styling on paragraph</p>
    <p class="h2">h2 styling on paragraph</p>

    <!-- Display Headings -->
    <h1 class="display-1">Display 1</h1>
    <h1 class="display-2">Display 2</h1>
    <h1 class="display-3">Display 3</h1>
    <h1 class="display-4">Display 4</h1>
    <h1 class="display-5">Display 5</h1>
    <h1 class="display-6">Display 6</h1>


    <!-- Text Alignment -->
    <p class="text-start">Start aligned text</p>
    <p class="text-center">Center aligned text</p>
    <p class="text-end">End aligned text</p>

    <!-- Text Transform -->
    <p class="text-lowercase">LOWERCASED TEXT</p>
    <p class="text-uppercase">uppercased text</p>
    <p class="text-capitalize">capitalized text</p>

    <!-- Font Weight & Style -->
    <p class="fw-bold">Bold text</p>
    <p class="fw-normal">Normal weight</p>
    <p class="fw-light">Light weight</p>
    <p class="fst-italic">Italic text</p>
    <p class="fst-normal">Normal style</p>

    <!-- Text Colors -->
    <p class="text-primary">Primary</p>
    <p class="text-secondary">Secondary</p>
    <p class="text-success">Success</p>
    <p class="text-danger">Danger</p>
    <p class="text-warning">Warning</p>
    <p class="text-info">Info</p>

    <!-- Background Colors -->
    <div class="bg-primary text-white">Primary background</div>
    <div class="bg-secondary text-white">Secondary</div>
    <div class="bg-success text-white">Success</div>
    <div class="bg-danger text-white">Danger</div>
    <div class="bg-warning">Warning</div>
    <div class="bg-info">Info</div>

    <!-- Padding -->
    <div class="p-0">No padding</div>
    <div class="p-1">Padding 1 (0.25rem)</div>
    <div class="p-2">Padding 2 (0.5rem)</div>
    <div class="p-3">Padding 3 (1rem)</div>
    <div class="p-4">Padding 4 (1.5rem)</div>
    <div class="p-5">Padding 5 (3rem)</div>

    <!-- Margin -->
    <div class="m-0">No margin</div>
    <div class="m-1">Margin 1</div>
    <div class="m-2">Margin 2</div>
    <div class="m-auto">Auto margin</div>

    <!-- Button Styles -->
    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-secondary">Secondary</button>
    <button class="btn btn-success">Success</button>
    <button class="btn btn-danger">Danger</button>
    <button class="btn btn-warning">Warning</button>
    <button class="btn btn-info">Info</button>

    <!-- Button Sizes -->
    <button class="btn btn-primary btn-lg">Large</button>
    <button class="btn btn-primary">Default</button>
    <button class="btn btn-primary btn-sm">Small</button>

    <!-- Basic Card -->
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Card content</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <!-- Card with Header/Footer -->
    <div class="card">
        <div class="card-header">Header</div>
        <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text">Content</p>
        </div>
        <div class="card-footer">Footer</div>
    </div>

    <!-- Basic Form -->
    <form>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <!-- Form Grid -->
    <form class="row g-3">
        <div class="col-md-6">
            <label class="form-label">First Name</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-6">
            <label class="form-label">Last Name</label>
            <input type="text" class="form-control">
        </div>
    </form>

    <!-- Basic Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Brand</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>