@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
     var cultureItems = new List<SelectListItem>{
         new SelectListItem { Value = "en-US", Text = "en-US" },
         new SelectListItem { Value = "ro-RO", Text = "ro-RO" }
     };
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";

    var cultureCookie = Context.Request.Cookies[CookieRequestCultureProvider.DefaultCookieName];
    string culture = null;
    if (!string.IsNullOrEmpty(cultureCookie))
    {
        var requestCulture = CookieRequestCultureProvider.ParseCookieValue(cultureCookie);
        culture = requestCulture.Cultures[0].Value ?? "";
    }
}

<div>
    <form asp-controller="Home" asp-action="SetLanguage" method="post" class="d-flex">
        <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
        <select asp-for="@culture" asp-items="cultureItems" onchange="this.form.submit()" class="form-select form-select-sm">
        </select>
    </form>
</div>